# Obtain this from console.redhat.com and use your rh-ee-stpousty account
export PULL_SECRET='{"auths":{"cloud.openshift.com":{"auth":"b3BXXXXX","email":"stpousty@redhat.com"},"quay.io":{"auth":"b3XXXXX","email":"stpousty@redhat.com"},"registry.connect.redhat.com":{"auth":"fHXXXX","email":"stpousty@redhat.com"},"registry.redhat.io":{"auth":"fHXXX","email":"stpousty@redhat.com"}}}'
export ACME_EMAIL=stpousty@redhat.com
# Classic token with read write permissions to at least repos but I also usually add packages as well
export GH_TOKEN=ghp_XXXXXX
export ARGO_GIT_URL=git@github.com:thesteve0/openshift-setup.git

# If we mess up the revision (aka branch) then it is easier to just destroy the cluster, fix the revision, and redeploy
export ARGO_GIT_REVISION=my-stuff
export KUBECONFIG=install/${CLUSTER_NAME}.${BASE_DOMAIN}/auth/kubeconfig-orig

# If we put these here then we don't have to enter them at the command line with MAKE SHELL
# If we have multiple clusters we are juggiling close in time or even up at the same time then it is
# probably best not to have these hardcoded in this file and instead put it in each depending on which cluster we
# want to work with.
export CLUSTER_NAME=stardew-vision
export BASE_DOMAIN=sandbox5291.opentlc.com
