# These two come from RHDP
AWS_ACCESS_KEY_ID=AKXXXXXXXXX
AWS_SECRET_ACCESS_KEY=NYXXXXXXX

# We keep this since it has the most GPUs
AWS_REGION=us-east-2

# RHOAI is a beast to install with all its operators, so we need at least 3 CPU workers like this and even then it's tight
CONTROL_PLANE_TYPE=m6i.2xlarge
CONTROL_PLANE_COUNT=1
WORKER_TYPE=m6i.2xlarge
WORKER_COUNT=3